* { box-sizing: border-box; }
body { font-family: "맑은 고딕", Malgun Gothic, sans-serif; }
input[type="text"], textarea {border: none; outline: none; width: 100%; height: 100%; box-sizing: border-box; text-align: center;}
button {display: block; width: 560px; padding: 12px 0; background: #4a90e2; border: none; color: #FFFFFF; font-size: 17px; font-weight: 700; cursor: pointer; transition: background 0.25s ease;}
button:hover {background: blue;}
.moveForm-container {width: 100%; height: 900px; background-color: white; margin: 0; padding: 0px; display: flex;}
.moveReport-container {flex: 1; height: 900px;}
.moveReport {height: auto; justify-content: center; display: flex; align-items: flex-start;}
.report {width: 560px; margin-top: 20px; border-collapse: collapse; table-layout: fixed;}
.report th, .report td {border: 1px solid #000; padding: 8px 10px; vertical-align: middle; word-break: keep-all; text-align: center;}
.report .title {background: #d9d9d9; height: 120px; font-weight: 700; font-size: 18px; text-align: center; width:55%;}
.report .title-sub {background: #d9d9d9; height: 30px; font-weight: 700; font-size: 18px; text-align: center; width:15%;}
.col-group {width: 100px; background: #f4f4f4; font-weight: 700; text-align: left;}
.col-label {width: 60px; background: #fafafa; font-weight: 700;}
.col-value {width: auto;}
.notes {height: 150px; vertical-align: top;}
a:visited {color: inherit;}

/*.approval-buttons {display: flex; gap: 10px;}*/
/*.btn-approve, .btn-reject {padding: 10px 20px; border: none; border-radius: 8px; color: white; font-size: 16px; font-weight: bold; cursor: pointer; display: flex; align-items: center; gap: 6px; tansition: 0.15s ease;}*/
/*.btn-approve {background-color: #28a745;}*/
/*.btn-approve:hover {background-color: #218838;}*/
/*.btn-reject {background-color: #dc3545}*/
/*.btn-reject:hover {background-color: #c82333;}*/
/*.icon {font-size: 20px;}*/

.approval-btn {
    display:flex;
    width:120px;
    padding:12px 0;
    font-size:17px;
    font-weight:700;
    justify-content:center;
    align-items:center;
    gap:6px;
    text-decoration:none;
    color:white !important;
    border:none;
    transition:0.15s ease;
}

.btn-approve {
    background-color:#4CAF50;
}
.btn-approve:hover {
    background-color:#449D48;
}

.btn-reject {
    background-color:#E53935;
}
.btn-reject:hover {
    background-color:#D03230;
}

.icon {
    font-size:20px;
}