<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeHandlers>
        <typeHandler handler="com.example.handler.DateStringTypeHandler" javaType="java.lang.String" jdbcType="DATE"/>
    </typeHandlers>
	<mappers>
		<mapper resource="mybatis/mappers/report.xml" />
		<mapper resource="mybatis/mappers/login.xml" />
	</mappers>
</configuration>